.article-list {
    list-style-type: none;
    padding-inline-start: 0;

    .article-item {
      margin-bottom: 2rem;

      .article-title {
        color: var(--link-color, #007bff);
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .article-author {
        color: var(--text-secondary-color);
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }