#posts {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .post {
    display: flex;
    flex-direction: column;

    padding: 0;
    border: 1px solid var(--border-color, #e9ecef);
    border-radius: var(--border-radius, 0.5rem);
    img {
      object-fit: cover;

      height: 250px;

      &.empty {
        object-fit: contain;

      }
    }

    .content {
      padding: 1rem;
      display: grid;
      gap: 0.5rem;
    }

    .date {
      color: var(--text-secondary, gray);
      font-family: 'Courier New', Courier, monospace;

    }

    .title {
      font-size: large;
      margin-top: 0.5rem;
    }

    .summary {
      text-wrap: pretty;
      font-size: 1rem;
      max-height: 5lh;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  @media screen and (max-width: 800px) {
    #data-container {
      display: flex;
      flex-direction: column;
    }

  }