body{
    background: var(--surface-2);
}
.page-fonts {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 30ch auto;
    gap: 1rem;

    > h1 {
        grid-column: 2;
        padding: 1em;
    }

    nav {
        top: 50px;
        height: 100vh;
        padding: 2rem 1rem;
        .fonts {
            line-height: 2;
            font-size: 1.2em;
        }
        .others {
            display: block;
            margin-top: 2rem;
        }

    }

    .all-fonts {
        padding: 1rem;
        display: grid;
        grid-template-rows: auto;
        gap: 1rem;
        grid-column: 2;
        max-width: 1200px;
    }

    .typeface {

        margin-bottom: 2em;
        padding: 1em;

        background: var(--surface-1);
        header {
            display: grid;
            grid-template-columns: auto  auto;
            place-content: center space-between ;
            padding: 0.5em 0;
            border-bottom: 1px solid var(--border-color);
        }

        .font-name {
            font-size: 2em;
            font-weight: 600;
        }

        .font-tag {
            font-size: 1em;
            color: var(--text-secondaryc-color);
            background: var(--surface-2);
            margin: 0 1em;
            padding: 0.5em;
            border-radius: 1em;
            border: 1px solid var(--border-color);
            justify-self: start;
            text-align: start;
        }

        .samples {
            display: flex;

        }

        .sample {
            padding: 8px;
            margin: 0;

            &.general,
            &.body {
                font-size: 18px;
                text-align: start;
                text-wrap: balance;
                line-height: 1.7;
            }

            &.display {
                font-size: 72px;
                text-align: start;
                text-wrap: balance;
                line-height: 1.5;
                hyphens: auto;
            }
        }
    }
}

.other-fonts {
    grid-column: 2;
}

@media screen and (width > 120ch) {
    .page-fonts {
        nav {
            position: sticky;
        }
    }
}

@media screen and (max-width: 120ch) {
    .page-fonts {
        grid-template-columns: 1fr;
        gap: 0.1em;
        margin: 0;
        padding: 0;
        .all-fonts {
            margin-inline: 0;
            padding-inline: 0;
            grid-column: 1;
        }
        &>h1 {
            grid-column: 1;
        }
        nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-inline: 0;
            background: var(--surface-1);
            overflow-x: auto;
            scrollbar-width: none;
            height: fit-content;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 1rem;
                line-height: 1;

                li{
                    align-items: center;

                    color: var(--text-secondaryc-color);
                    background: var(--surface-2);
                    padding: 0.25em 1em;
                    border-radius: var(--border-radius);
                    height: fit-content;
                }
                li a {
                    width: fit-content;
                    white-space: nowrap;
                    padding: 0.5em 1em;
                }
            }
        }

        .typeface {
            padding-inline: 0.25em;
            header {
                padding-inline: 0.25em;
                grid-template-columns: auto;
            }
            .samples {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                width: 100vw;
            }
            .sample {
                padding-inline: 0.25em;
                min-width: 95vw;
                max-width: 95vw;
            }
        }
    }
    .other-fonts {
        grid-column: 1;
    }
}

