footer {
  width: 100%;
  background: var(--surface-2);
  color: var(--text-secondary);
  border-top: 2px solid var(--border-color);
  .footer-container {
    max-width: 120ch;
    margin: 3rem auto;
    padding: 2em;

    font-size: 14px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .locale-theme-switcher {
      display: grid;
      grid-template-rows: auto auto;

      h2 {
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }

    .social-media {
      h2 {
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .social-media-links {
        display: flex;

        flex-direction: column;
        text-align: start;
        li {
          line-height: 2;
        }
        a {
          font-size: 1em;
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
      }
    }

    .community {
      h2 {
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .community-links {
        display: flex;

        flex-direction: column;
        text-align: start;
        li {
          line-height: 2;
        }
        a {
          font-size: 1em;
          font-weight: 400;
          margin-bottom: 0.5rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .copyright {
      grid-column: 1 / -1;
      text-align: center;
      font-size: 1rem;
    }
  }
}

@media (max-width: 120ch) {
  footer .footer-container {
    grid-template-columns: 1fr;
  }
}
