body > header {
  display: grid;
  grid-template-columns: 50px auto auto;
  gap: 1rem;
  align-items: center;
  padding: 0.25rem 1rem;
  background: var(--primary-color);
  color: var(--header-text-color);
  z-index: 100;
  position: sticky;
  top: 0;

  .logo {
    display: block;
    img {
      width: 48px;
      aspect-ratio: 1/1;
    }
  }
  .site-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
  nav {
    display: flex;
    gap: 1rem;
    justify-self: end;

    > a {
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
    }
  }

  .hamburger-packet {
    justify-self: end;
  }
}
@media (max-width: 1000px) {
  header {
    nav {
      display: none;
    }
  }
}
