



@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    border-width: 0;
    outline-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    scrollbar-width: thin;
    -webkit-touch-callout: none;
    -webkit-tap-highcolor: transparent;
    -webkit-tap-highcolor: transparent;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
    font-synthesis: style;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :lang(en)
  :lang(ml) {
    hyphens: auto;
    text-rendering: optimizeLegibility;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:focus {
      outline: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  figure{
    margin: 0;
    padding: 0;
    img {
      margin: 0;
      padding: 0;
      object-fit: cover;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  img {
    object-fit: cover;
  }
  p {
    text-wrap: pretty;
    line-height: 1.5;
    hyphens: auto;
    hyphenate-character: '';
    hyphenate-limit-chars: 5 2 2;
  }
}

@layer theme {
  :root {
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    --cyan-50: #effafc;
    --cyan-100: #d7f0f6;
    --cyan-200: #b4e2ed;
    --cyan-300: #81ccdf;
    --cyan-400: #46adca;
    --cyan-500: #2a90b0;
    --cyan-600: #267594;
    --cyan-700: #256079;
    --cyan-800: #265064;
    --cyan-900: #244455;
    --cyan-950: #132b39;

    --primary-color: light-dark(var(--cyan-600), var(--cyan-600));
    --link-color: light-dark(var(--cyan-600), var(--cyan-500));
    --link-hover-color: light-dark(var(--cyan-800), var(--cyan-300));
    --text-color: light-dark(var(--slate-950), var(--slate-50));
    --header-text-color: light-dark(var(--cyan-50), var(--cyan-50));
    --text-secondary-color: light-dark(var(--slate-800), var(--slate-200));
    --surface-1: linear-gradient(
        to bottom right,
        light-dark(var(--slate-50), var(--slate-950)) 0%,
        light-dark(white, black)  100%
    );
    --surface-2: linear-gradient(
        to bottom right,
        light-dark(oklch(from var(--slate-50) l c h), oklch(from var(--slate-950) l c h)) 0%,
        light-dark(oklch(from var(--slate-100) l c h), oklch(from var(--slate-900) l c h)) 100%
      );

    --border-color: light-dark(var(--slate-200), var(--slate-800) );
    --border-radius: 8px;


    --button-background: linear-gradient(
      to bottom,
      light-dark(var(--slate-100), var(--slate-800)) 0%,
      light-dark(var(--slate-200), var(--slate-900)) 100%
    );
    --button-hover-background: light-dark(
      var(--slate-300),
      var(--slate-600)
    );
    --button-active-background: light-dark(
      var(--slate-700),
      var(--slate-700)
    );
    --button-disabled-background: light-dark(
      var(--slate-100),
      var(--slate-950)
    );

    --sans-font-family:  'Manjari', sans-serif;

  }

}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
  scroll-padding-top: 60px;
}

body {
  accent-color: var(--primary-color);
  color: var(--text-color);
  background: var(--surface-1) fixed no-repeat;
  font-family: var(--sans-font-family);

}

.link {
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  width: fit-content;
  &:hover {
    color: var(--link-color);
    border-bottom: 2px solid var(--primary-color);
  }
}

.button-active {
  background: var(--button-background);
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
}

article {
  max-width: 100ch;
  margin: 1rem auto;
  padding: 0 20px;

  h1 {
    font-size: 2.25rem;
    line-height: 1.1;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  a {
    color: var(--link-color);
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.2;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  p,
  ul {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem;
    text-wrap: pretty;
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 1em;
  }

  ol {
    list-style-type: lower;
    padding-inline-start: 1em;
  }

  blockquote {
    padding: 1em;
    margin: 8px 0;
    margin-top: 8px;
    line-height: 1.5;
    border: 1px solid var(--primary-color);
    border-left-width: 1px;
    border-left-width: 6px;
  }
}
.card {
  background: var(--surface-2);
  border: 1px solid  var(--border-color);
  border-radius: var(--border-radius);
}
/* Menu */
.hamburger-menu {
  display: none;
  justify-self: end;
}
.hamburger {
  justify-self: start;
  margin: 1em;
  width: 30px;
  height: 30px;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    height: 3px;
    background: var(--header-text-color, white);
    margin-bottom: 5px;
    transition: 0.3s;
  }
}


#menu-toggle:checked {
  + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}

/* Dark mode */
@media screen {
  :root {
    color-scheme: light dark;
  }
  /* Light theme */
  :root[data-theme="light"] {
    color-scheme: light;
  }

  /* Dark theme override */
  :root[data-theme="dark"] {
    color-scheme: dark;
  }

  /* Dark theme (system preference) */
  @media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      color-scheme: dark;
    }
  }
}

@media (max-width: 1200px) {
  .hamburger-menu  {
    display: block;
    width: 30px;
  }

  .nav-menu {
    display: none;
  }

  :root:has(#menu-toggle:checked) {
    .nav-menu {
      display: flex;
      justify-self: start;
      flex-direction: column;
    }
  }
}

/* Turn cross-document view-transitions on */
/* Note that this at-rule is all that is needed to create the default cross-fade animation  */

@view-transition {
  navigation: auto;
}

/* Customize the default animation behavior */

::view-transition-group(root) {
  animation-duration: 0.5s;
}
