body {
  background: var(--surface-2);
}
.page-projects {
  display: grid;
  margin: 2rem auto;
  grid-template-columns: 30ch auto;
  gap: 1rem;

  > h1 {
    grid-column: span 2;
    padding: 1rem;
  }

  nav {
    position: sticky;
    top: 100px;
    height: 100vh;
    padding: 1rem;
    font-size: 1.2em;
  }

  .all-projects {
    padding: 1rem;
  }

  .project-categories {
    display: grid;
    gap: 0.5em;
    justify-content: start;
    padding: 1rem;

    li {
      font-weight: 600;
      margin-bottom: 1rem;

      a {
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    grid-column: 2;
  }

  .projects {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(60ch, 1fr));
    gap: 2rem;

    .project-item {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1rem;
      padding: 1rem;
      container-type: inline-size;
      border: 1px solid var(--border-color, #e9ecef);
      background: var(--surface-1);
      .logo {
        width: 40cqi;
        height: auto;
        object-fit: cover;
      }

      .content {
        h2 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        .summary {
          font-size: 1.25rem;
          font-weight: 400;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.25rem;
          font-weight: 400;
          margin-bottom: 1rem;
        }
      }

      .links {
        grid-column: span 2;
        display: flex;
        gap: 1rem;
        justify-content: end;

        a {
          font-size: 1em;
          font-weight: 400;
          margin-bottom: 0.5rem;
          color: var(--primary-color, #007bff);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 120ch) {
  .page-projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    nav {
      display: none;
    }
  }
}
