body{
    background: var(--surface-2);
}
  .research-items {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    justify-content: space-between;

    .research-item {
      display: grid;
      grid-template-rows: auto auto auto auto;
      gap: 0.5rem;
      padding: 1rem;
      background: var(--surface-1);
      border: 1px solid var(--border-color, #e9ecef);
      border-radius: 0.5rem;

      .title {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .author {
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-secondary-color);
      }

      .links {
        display: flex;
        gap: 1rem;
        justify-content: end;
  }
}
}