#theme-picker {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 0;

    legend {
        display: none;
    }

    label {
        display: flex;
        padding: 0.5rem;
        align-items: center;
        cursor: pointer;
        border: 1px solid var(--border-color);
        color: var(--text-color);
        &:has(input:checked) {
            background: var(--surface-2);
        }

        span {
            margin-left: 0.5rem;
            font-size: small;
        }

        &:first {
            border-inline-end: 0;
        }

        &:last {
            border-inline-start: 0;
        }
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked+span {
        font-weight: bold;
    }
}