<section class="footer-container">
<div class="locale-theme-switcher">
  <div class="locale-switcher">
    {{ if .IsTranslated }}
    <h2>{{i18n "menu-language"}}</h2>
    <ul>
      {{ range .Translations }}
      <li>
        <a class="locale-language" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>

  <div class="theme-switcher">
    <h2>{{i18n "menu-theme"}}</h2>
    {{ partial "themeswitcher.html" . }}
  </div>
  </div>
  <div class="community ">
    <h2>
      {{ i18n "menu-community" }}
    </h2>
    <ul class="community-links ">
    <li><a href="/about" class="link" aria-label="Link to about page"></a>
        {{i18n "menu-about"}}
      </a></li>
      <li><a href="/contact" class="link" aria-label="Link to contact page">
        {{i18n "menu-contact"}}
      </a></li>
      <li><a href="/history" class="link" aria-label="Link to history page">
        {{i18n "menu-history"}}
      </a></li>
      <li><a href="/people" class="link" aria-label="Link to people page">
        {{i18n "menu-people"}}
      </a></li>
      <li><a href="/code-of-conduct" class="link" aria-label="Link to code-of-conduct page">
        {{i18n "menu-code-of-conduct"}}
      </a></li>
      <li><a href="/press-and-media" class="link" aria-label="Link to media page">
        {{i18n "menu-media"}}
      </a></li>
    </ul>

  </div>
  <div class="social-media">
    <h2>{{i18n "menu-contact"}}</h2>
    <ul class="social-media-links flex flex-wrap justify-center ">

    {{ range .Site.Data.footer.links }}

    <li><a class="{{ .name }} link" href="{{ .url }}" target="_blank" rel="noopener noreferrer"
        aria-label="Link to {{ .name }}">
      {{ .title }}
    </a></li>
    {{ end }}

  </ul>
</div>
<p class="copyright">
  {{ now.Format "2006" }} — <strong class="font-semibold">{{ i18n "smc" }}</strong><br>
  Unless otherwise stated, content is available under the<br>
  <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="link">Creative Commons
    Attribution-ShareAlike License</a>.
  </p>
</section>
