<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
<meta
    name="description"
    content="{{ .Params.description | default (i18n "smc-desc")}}"
/>
<meta
    name="keywords"
    content="{{ .Site.Params.metaKeywords }}"
/>
<meta name="author" content="{{ .Site.Params.title }}" />
<link rel="alternate" href="{{ .Site.BaseURL }}/en/" hreflang="en" />
<link rel="alternate" href="{{ .Site.BaseURL }}/ml/" hreflang="ml" />

<title>
    {{ if .Params.name }}{{ .Params.name }} - {{ end }}{{ .Site.Params.title }}
</title>

{{ partial "head/css" }}

<script type="speculationrules">
    {
        "prerender": [
            {
                "where": {
                    "href_matches": "/en/*"
                },
                "eagerness": "moderate"
            },
            {
                "where": {
                    "href_matches": "/ml/*"
                },
                "eagerness": "moderate"
            }
        ]
    }
</script>
<!-- Do not remove. Required for subdomains managed by Google to monitor google search analytics -->
<meta name="google-site-verification" content="ctE6-TnD6TKmZ5OU-jTjAAU5mE2sOuRBC42SE-BBCWE" />