<a class="logo" href="/">
  <img src="/images/logo.webp" alt="smc">
</a>
<h1 class="site-title">
  {{ i18n "smc" }}
</h1>

<div class="hamburger-menu subgrid cols-start-1 cols-end-2">
  <input type="checkbox" style="display: none;" id="menu-toggle">
  <label for="menu-toggle" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>
</div>

<nav class="nav-menu">
  {{- range site.Menus.main }}
  <a href="{{ relLangURL .URL }}">
    {{.Name}}
  </a>
  {{ end }}


</nav>

