{{ define "main" }}
  <h1>404 Not Found</h1>
  <div class="md:mx-5 md:align-center" style="margin-bottom: 20px;margin-left: 50px;margin-right: 50px;">
  <img src="/images/logo.webp" alt="Your Image" style="height: 200px; " />
 </div>
  <p>The page you requested cannot be found.</p>
  <p>
    <a href="{{ .Site.Home.RelPermalink }}">
      Return to the home page
    </a>
  </p>
{{ end }}