{{ define "main" }}
<div class="my-20 md:m-20">
  <h1 class="text-5xl my-5">{{i18n "menu-articles"}}</h1>
  {{ .Content }}

  {{ range .Pages }}
    <h2 class=" md:mx-20  px-3 hover:bg-gray-100 flex ">
      <div class="text-gray-500 my-2 left">
        <i class="fa-solid fa-file "></i>
      </div>
      <div class="right my-2 px-3 items-center">
      <a class="text-black-700 " href="{{ .Permalink }}"><p>

      {{ .Title}}</p>


      <div class="text-slate-700"> {{ .Params.author }}</div></a>
      </div>


    </h2>
  {{ end }}
</div>

{{ end }}