{{ define "main" }}
<article>


    <h1>{{i18n "smc-about-heading"}}</h1>

    <p>{{i18n "smc-desc"}}</p>
    <p>{{i18n "smc-about-text-para-1"}}</p>
    
    <p>{{i18n "smc-about-text-para-2"}}</p>

    <p>{{i18n "smc-about-text-para-3"}}</p>


</article>


{{ end }}