{{ define "main" }}
<article class="page-blog">
  <h1>{{i18n "menu-blog"}}</h1>

  <div id="posts">
    {{ $data := dict }}
    {{ $url := "https://blog.smc.org.in/ghost/api/v3/content/posts/?key=0b33c5e372d8ee78a8bd842ad0&include=tags,authors&limit=50" }}
    {{ with resources.GetRemote $url }}
      {{ with .Err }}
        {{ errorf "%s" . }}
      {{ else }}
        {{ $data = . | transform.Unmarshal }}
      {{ end }}
    {{ else }}
      {{ errorf "Unable to get remote resource %q" $url }}
    {{ end }}

    {{ range $data.posts }}
    <div class="post card">
      {{ if .feature_image }}
        <img src="{{ .feature_image }}">
      {{ else }}
        <img class="empty" src="/images/favicon.svg">
      {{ end }}
      <div class="content">
        <a href="{{ .url }}">
          <h3 class="title">{{ .title }}</h3>
          {{ $date := .created_at | time.AsTime }}
          {{ $formattedDate := $date.Format "Mon Jan 2 2006" }}
          <div class="date">{{ $formattedDate }}</div>
        </a>
        <p class="summary">{{ replaceRE "\\[.*?\\]" "" .excerpt }}</p>
      </div>
    </div>
    {{ end }}
  </div>

  {{ with resources.Get "css/blog.css" | postCSS }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}

</article>
{{ end }}