
<div class="page-not-found">
  <h1 style="text-align: center;">സ്വതന്ത്ര മലയാളം കമ്പ്യൂട്ടിങ്ങ്</h1>
  <img src="/images/logo.webp" alt="SMC Logo" style="height: 200px; " />
  <p>The page you requested cannot be found.</p>
  <h1>404 Not Found</h1>
  <p>
    <a href="/">Return to the home page</a>
  </p>
</div>
<style>
  .page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    img {
      height: 50vh;
    }
  }
</style>