{{ define "main" }}
<link href="/fonts/fonts.css" rel="stylesheet" />
<div class="page-fonts">

    <h1>
        {{ i18n "typefaces" }}
    </h1>
    <nav class="fonts-nav">
        <ul class="fonts">
            {{ range $index, $item := .Pages }}
            {{$localizedname := strings.ToLower (.Params.name) }}

            <li><a class="link" href="#{{ .Params.link }}">{{ i18n $localizedname }}</a></li>
            {{ end }}
        </ul>
<a class="link others" href="#others">Other Fonts</a>
    </nav>
    <section class="all-fonts">
    {{ range $index, $item := .Pages }}
        {{ $fontPageUrl := print "/fonts/" ( .Params.link) }}
        <section class="typeface card" id="{{ .Params.link }}">
            <header class="font-header">
                <div>
                <a href="{{ relLangURL $fontPageUrl }}">

                        {{$a :=  strings.ToLower (.Params.name)  }}
                        <span class="font-name">{{ i18n $a }}</span>
                </a>
                <span class="font-tag">
                    {{ if .Params.variableFont }}
                    {{ i18n "styles-many" }}
                    {{ else }}
                    {{ if eq (len .Params.fontWeights) 1 }}
                    One style
                    {{ else }}
                    {{ len .Params.fontWeights }} styles
                    {{ end }}
                    {{ end }}
                </span>
                </div>
                    <a class="details-link button-active" href="{{ relLangURL $fontPageUrl }}">Details →
                    </a>



            </header>
            <div class="font-{{ lower .Params.name }} samples">
                {{ if eq .Params.page "big" }}
                    <p contenteditable class="sample display">ഒരൊറ്റമതമുണ്ടുലകിന്നുയിരാം
                        പ്രേമമതൊന്നല്ലോ പരക്കെ നമ്മെ പാലമൃതൂട്ടും പാർവണശശിബിംബം.</p>

                {{ end }}

                {{ if eq .Params.page "all" }}
<p contenteditable style="font-weight: 100; " class="sample general">കേരളത്തിലെ ഒരു പ്രധാനപ്പെട്ട
    നഗരമാണ്‌
    കൊച്ചി.
                        കേരളത്തിലെ ഏറ്റവും വലിയ നഗര സമൂഹമായ (urban agglomeration) കൊച്ചി നഗര സമൂഹത്തിന്റെ ഭാഗവും പ്രധാന തുറമുഖ
                        നഗരങ്ങളിലൊന്നുമാണ്‌ 'അറബിക്കടലിന്റെ റാണി' എന്നറിയപ്പെടുന്ന കൊച്ചി. കോർപ്പറേഷൻ പരിധിയിൽ 677,381 ജനങ്ങളും മെട്രോപ്രദേശ
                        പരിധിയിൽ 21 ലക്ഷത്തിൽ അധികം ജനങ്ങളും വസിക്കുന്ന കൊച്ചിയെ, കേരളത്തിന്റെ വാണിജ്യ, വ്യാവസായിക തലസ്ഥാനം ആയിട്ടാണ്
                        കണക്കാക്കുന്നത്. മദ്ധ്യ കേരളത്തിലെ എറണാകുളം ജില്ലയിലാണ്‌ സ്ഥിതി ചെയ്യുന്നത്‌. കേരളത്തിന്റെ തലസ്ഥാനമായ
                        തിരുവനന്തപുരത്തു നിന്നും 220 കിലോമീറ്റർ വടക്കാണ്‌ കൊച്ചിയുടെ സ്ഥാനം</p>

                    <p contenteditable style="font-weight: 400;" class="sample general">കേരളത്തിലെ ഒരു പ്രധാനപ്പെട്ട നഗരമാണ്‌ കൊച്ചി.
                        കേരളത്തിലെ ഏറ്റവും വലിയ നഗര സമൂഹമായ (urban agglomeration) കൊച്ചി നഗര സമൂഹത്തിന്റെ ഭാഗവും പ്രധാന തുറമുഖ
                        നഗരങ്ങളിലൊന്നുമാണ്‌ 'അറബിക്കടലിന്റെ റാണി' എന്നറിയപ്പെടുന്ന കൊച്ചി. കോർപ്പറേഷൻ പരിധിയിൽ 677,381 ജനങ്ങളും മെട്രോപ്രദേശ
                        പരിധിയിൽ 21 ലക്ഷത്തിൽ അധികം ജനങ്ങളും വസിക്കുന്ന കൊച്ചിയെ, കേരളത്തിന്റെ വാണിജ്യ, വ്യാവസായിക തലസ്ഥാനം ആയിട്ടാണ്
                        കണക്കാക്കുന്നത്. മദ്ധ്യ കേരളത്തിലെ എറണാകുളം ജില്ലയിലാണ്‌ സ്ഥിതി ചെയ്യുന്നത്‌. കേരളത്തിന്റെ തലസ്ഥാനമായ
                        തിരുവനന്തപുരത്തു നിന്നും 220 കിലോമീറ്റർ വടക്കാണ്‌ കൊച്ചിയുടെ സ്ഥാനം</p>

                    <p contenteditable style="font-weight: 800;" class="sample general">കേരളത്തിലെ ഒരു പ്രധാനപ്പെട്ട നഗരമാണ്‌ കൊച്ചി.
                        കേരളത്തിലെ ഏറ്റവും വലിയ നഗര സമൂഹമായ (urban agglomeration) കൊച്ചി നഗര സമൂഹത്തിന്റെ ഭാഗവും പ്രധാന തുറമുഖ
                        നഗരങ്ങളിലൊന്നുമാണ്‌ 'അറബിക്കടലിന്റെ റാണി' എന്നറിയപ്പെടുന്ന കൊച്ചി. കോർപ്പറേഷൻ പരിധിയിൽ 677,381 ജനങ്ങളും മെട്രോപ്രദേശ
                        പരിധിയിൽ 21 ലക്ഷത്തിൽ അധികം ജനങ്ങളും വസിക്കുന്ന കൊച്ചിയെ, കേരളത്തിന്റെ വാണിജ്യ, വ്യാവസായിക തലസ്ഥാനം ആയിട്ടാണ്
                        കണക്കാക്കുന്നത്. മദ്ധ്യ കേരളത്തിലെ എറണാകുളം ജില്ലയിലാണ്‌ സ്ഥിതി ചെയ്യുന്നത്‌. കേരളത്തിന്റെ തലസ്ഥാനമായ
                        തിരുവനന്തപുരത്തു നിന്നും 220 കിലോമീറ്റർ വടക്കാണ്‌ കൊച്ചിയുടെ സ്ഥാനം</p>

                {{end}}
                {{ if eq .Params.page "normal" }}
            <div contenteditable class="sample body">കേരളത്തിലെ ഒരു പ്രധാനപ്പെട്ട നഗരമാണ്‌ കൊച്ചി. കേരളത്തിലെ ഏറ്റവും
                വലിയ നഗര
                സമൂഹമായ (urban agglomeration) കൊച്ചി നഗര സമൂഹത്തിന്റെ ഭാഗവും പ്രധാന തുറമുഖ നഗരങ്ങളിലൊന്നുമാണ്‌ 'അറബിക്കടലിന്റെ റാണി'
                എന്നറിയപ്പെടുന്ന കൊച്ചി. കോർപ്പറേഷൻ പരിധിയിൽ 677,381 ജനങ്ങളും മെട്രോപ്രദേശ പരിധിയിൽ 21 ലക്ഷത്തിൽ അധികം ജനങ്ങളും
                വസിക്കുന്ന കൊച്ചിയെ, കേരളത്തിന്റെ വാണിജ്യ, വ്യാവസായിക തലസ്ഥാനം ആയിട്ടാണ് കണക്കാക്കുന്നത്. മദ്ധ്യ കേരളത്തിലെ എറണാകുളം
                ജില്ലയിലാണ്‌ സ്ഥിതി ചെയ്യുന്നത്‌. കേരളത്തിന്റെ തലസ്ഥാനമായ തിരുവനന്തപുരത്തു നിന്നും 220 കിലോമീറ്റർ വടക്കാണ്‌
                കൊച്ചിയുടെ സ്ഥാനം.</div>
            {{ end }}
            </div>
        </section>

    {{ end }}
    </section>
    <article class="other-fonts" id="others">
        <h1>Other Malayalam Fonts</h1>
        <p>Other than the fonts listed above, which are maintained by SMC, there are a few more free licensed fonts designed
            and released by other projects and people. </p>

            <ul>
                <li class="hover:underline">
                    <a href="https://www.google.com/get/noto/">Noto Sans Malayalam by Google</a>
                </li>
                <li class="hover:underline">
                    <a href="https://fonts.google.com/specimen/Baloo+Chettan+2?subset=malayalam">
                        Baloo Chettan 2 by Ek Type, commissioned by Google Fonts.
                    </a>
                </li>
                <li class="hover:underline">
                    <a href="https://github.com/EkType/Anek">
                        Anek Malayalam by Ek Type
                    </a>
                </li>
                <li class="hover:underline">
                    <a href="rachana.org.in">Sundar, TNJoy, Ezhuthu, Panmana, Karuna etc by Rachana Institute of Typography
                    </a>
                </ul>


                </article>
</div>


{{ $opts := dict "inlineImports" true }}
{{ with resources.Get "css/font-page.css" | postCSS $opts }}
<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

{{ end }}
