{{ define "main" }}
{{ $data := dict }}
{{ $p := "fonts.csv" }}
{{ with resources.Get $p }}
  {{ $opts := dict "delimiter" "," }}
  {{ $data = . | transform.Unmarshal $opts }}
{{ else }}
  {{ errorf "Unable to get resource %q" $p }}
{{ end }}

<link href="/fonts/fonts.css" rel="stylesheet" />
<div class="page-font">
  <div class="header">
    <div class="font-info">
      {{$a := strings.ToLower (.Params.name) }}
      <div>
        <h1 class="font-name">{{ i18n $a }}</h1>
        <h2 class="author">
          {{ i18n "font-by" (dict "author" .Params.author) }}
        </h2>
      </div>
      <div class="links">
        <a href="{{.Params.downloadlink}}" class="button-active">{{ i18n "download" }}</a>
      </div>
      </div>
    <div class="font-preview-cards carousel" style='font-family: "{{ replace .Params.name "-" " " }}";'>
      {{ if .Params.images }}
      {{ range .Params.images }}
      <div class="specimen carousel-item">
        {{ readFile . | safeHTML }}
      </div>
      {{ end }}
      {{ end }}
    </div>


  </div>
  <div class="font-details-nav">
    <a href="#preview">{{ i18n "preview" }}</a>
    {{ if not .Params.variableFont }}
    <a href="#weight-styles">{{ i18n "weight-styles" }}</a>
    {{end}}
    <a href="#features">{{ i18n "features" }}</a>
    <a href="#web-embed">{{ i18n "web-embed" }}</a>
    <a href="#source-license">{{ i18n "source-license" }}</a>

  </div>
  <section id="preview" class="font-preview">
    <div class="font-preview-controls">
      <h2>{{ i18n "preview" }}</h2>
      <div class="field">
        <label for="font-size-input">Font size <span class="range-value"></span></label>
        <input type="range" id="font-size-input" min="8" max="256"
          value="{{if .Params.defaultfontsize}}{{.Params.defaultfontsize}}{{else}}22{{end}}" />
      </div>
      <div class="field">
        <label for="font-lineheight-input">Line height <span class="range-value"></span></label>
        <input type="range" id="font-lineheight-input" min="0.5" max="3"
          value="{{if .Params.defaultfontsize}}{{.Params.defaultlineheight}}{{else}}1.5{{end}}" step="0.1" />
      </div>
      {{ if .Params.fontWeights }}
      <div class="field">
        <label for="font-weight-input">Font weight <span class="range-value"></span></label>
        <input type="range" id="font-weight-input" min="{{ math.Min .Params.fontWeights }}"
          max="{{ math.Max .Params.fontWeights }}" value="{{if .Params.defaultfontsize}}{{.Params.defaultweight}}{{else}}400{{end}}" step="2" />
      </div>
      {{ end }}
      {{ if .Params.variableFont }}
      {{ range .Params.variables }}
      <div class="field">
        <label for="font-{{ .propName }}-input">{{ .label }} <span class="range-value"></span></label>
        <input type="range" class="font-variable" id="font-{{ .propName }}-input" propName="{{ .propName }}" min="{{ .min }}"
          max="{{ .max }}" value="{{ .default }}" step="{{ .step }}" />
      </div>
      {{ end }}
      {{ end }}
    </div>
    <p class="preview-text" id="preview-text" contenteditable="true" class="break-words"
      style='font-family: "{{ replace .Params.name "-" " " }}";'>{{ .Params.sampletext }}</p>

  </section>
  {{ if .Params.variableFont }}
  <!-- {{ i18n "styles-many" }}
                 -->
  <section></section>
  {{ else }}

  <section class="font-weights">
    <div>
      <h2 class="text-2xl">{{ i18n "weight-styles" }}</h2>
      <div>
        {{ if .Params.variableFont }}
        {{ i18n "styles-many" }}
        {{ else }}
        {{ i18n "weights" (len .Params.fontWeights) }}
        {{ end }}
      </div>
    </div>
    <div style="font-family: '{{ .Params.name }}', sans-serif;" class=" ">
      {{ range .Params.fontWeights }}
      <div style="font-weight: {{ . }}"> മലയാളം </div>
      {{ end }}
    </div>

  </section>
  {{end}}
  <section id="web-embed" class="embed">
    <h2>{{ i18n "web-embed" }}</h2>
    <div>
      <p>
        {{ i18n "web-embed-description" (dict "name" .Params.name) }}
      <pre>
              <code class="whitespace-pre-line break-words">
              </br>@import url('https://smc.org.in/fonts/{{ strings.ToLower .Params.name }}.css');
              </br>html { font-family: '{{ .Params.name }}', sans-serif; }
              </code>
            </pre>
      </p>
      {{- if .Params.availableOnGoogleFonts }}
      <p>
        {{ i18n "web-embed-google-fonts" (dict "name" .Params.name) | markdownify }}
      </p>
    </div>
    {{- end }}
  </section>
  <section id="source-license" class="source-license">
    <h2>{{ i18n "source-license" }}</h2>
    <div>
      <p>
        {{ i18n "licensed-under" (dict "name" .Params.name "license" .Params.license) | markdownify }}
      </p>
      <p>
        {{ i18n "source-link" (dict "name" .Params.name "repoUrl" .Params.repoUrl) | markdownify }}
      </p>
    </div>
  </section>

  {{ $version := "" }}
  {{ $key := default $a .Params.title }}
  {{ range $i, $row := $data }}
    {{ if eq (index $row 0) $key }}
      {{ $version = (index $row 1) }}
    {{ end }}
  {{ end }}
  {{ if $version }}
    <section id="version" class="version">
      <h2>{{ i18n "version" }}</h2>
          {{ $version }}
    </section>
  {{ end }}

  <section id="font-about">
    {{ .Content }}
  </section>
  </div>
  </div>

{{- with resources.Get "js/font-preview.js" }}
{{- if eq hugo.Environment "development" }}
{{- with . | js.Build }}
<script src="{{ .RelPermalink }}"></script>
{{- end }}
{{- else }}
{{- $opts := dict "minify" true }}
{{- with . | js.Build $opts | fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{- .Data.Integrity }}" crossorigin="anonymous"></script>
{{- end }}
{{- end }}
{{- end }}


{{ $opts := dict "inlineImports" true }}
{{ with resources.Get "css/single-font.css" | postCSS $opts }}
<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
{{ end }}
