{{ define "main" }}
<div class="page-home">
  <div class="hero">
    <img src="/images/logo.webp" alt="SMC Logo" class="logo" />
    <div class="hero-content">
      <h1>
        {{ i18n "smc" }}
      </h1>
      <h2>
        എന്റെ കമ്പ്യൂട്ടറിനു് എന്റെ ഭാഷ
      </h2>
      <p>
        {{ i18n "smc-desc" }}
      </p>
      <div class="quick-links">
        <a href="{{ relLangURL "/projects" }}">{{ i18n "menu-projects" }}</a>
        <a href="{{ relLangURL "/fonts" }}">{{ i18n "menu-fonts" }}</a>
        <a class="" href="https://community.smc.org.in/">
          {{ i18n "discussions" }}
        </a>
        <a href="https://t.me/smc_project">
          {{ i18n "telegram" }}
        </a>
      </div>
      </div>
      </div>

</div>
<link href="/fonts/manjari.css" rel="preload" as="style" />
<style>
  .page-home {

    display: grid;
    padding: 0.5em;
    .hero {
      display: grid;
      grid-template-columns: 40ch 60ch;
      margin: 2rem auto;
      gap: 2rem;
      align-items: center;
      justify-items: center;
      min-height: 60vh;
      .logo {
        width: 300px;
        aspect-ratio: 1/1;
        max-width: 300px;
      }

      .hero-content {
        display: grid;
        grid-template-rows: auto;
        gap: 1rem;


        h1 {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 1.5rem;
          font-weight: 400;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 1rem;
          max-width: 60ch;
        }


        .quick-links {
          display: flex;
          gap: 2rem;
          a {
            cursor: pointer;
            font-size: 1.2em;
            font-weight: 600;
            color: var(--link-color)
          }
        }
      }
    }
    @media screen and (max-width: 120ch) {
      .hero {
        grid-template-columns: 1fr;
        gap: 1rem;

        .hero-content {
          h1 {
            font-size: 2rem;
            text-wrap: balance;
          }

          h2 {
            font-size: 1.25rem;
          }

          p {
            font-size: 1rem;
            text-wrap: pretty;
          }
        }

    }
  }
</style>

</div>
{{ end }}