{{ define "main" }}

<div class="page-projects">
  <h1>{{i18n "menu-projects"}}</h1>

  {{ $sections := slice "Input tools" "Fonts & Script" "Machine translation & Spelling checker" "Malayalam Linguistics" "Corpus and data collections" "Accessibility" "Web" "Web Extensions" "Mobile" "Programming Libraries" }}

  <nav class="section-nav">
    <ul class="project-categories">
      {{ range $sections }}
      <li><a class="link" href="#{{ . }}">{{ . }}</a></li>
      {{ end }}
      </ul>
      </nav>
      <div class="all-projects">
        {{ range $sections }}
        <h1 id="{{.}}"><br>{{ . }} <br> </h1>
        {{ $section := . }}
    <section class="projects">
    {{ range where $.Site.Pages "Params.val" . }}
    {{ $var2 := "none" }}
      <section class="card project-item">
        <section class="content">
          <h2 class="">{{ .Title }}</h2>
          {{ if not (eq .Params.img $var2) }}
          {{ if not (eq .Params.summary $var2) }}
                <p class="summary">{{ .Params.summary }} </p>
                {{end}}
                <br>
                {{ .Content }}

          {{ else }}
{{ if not (eq .Params.summary $var2) }}
                <p class="summary">{{ .Params.summary }} </p>
                {{end}}
                <br>
                {{ .Content }}
          {{ end }}
        </section> <!-- content -->
        {{ if not (eq .Params.img $var2) }}
        <img class="logo" src="{{.Params.img }}" alt="{{ .Title }} logo">
        {{ end }}
        <div class="links">
          {{ if not (eq .Params.firefox $var2) }}
            <a href="{{ .Params.firefox}}">Firefox</a>

          {{ end }}
          {{ if not (eq .Params.chrome $var2) }}
            <a href="{{ .Params.chrome}}">Chrome</a>

          {{ end }}
          {{ if not (eq .Params.tools $var2) }}
          <a href="{{ .Params.tools}}">Tools</a>

          {{ end }}
          {{ if not (eq .Params.use $var2) }}
            <a href="{{ .Params.use}}">Use</a>

          {{ end }}
          {{ if not (eq .Params.source $var2) }}
              <a href="{{ .Params.source}}">Source</a>

          {{ end }}
          {{ if not (eq .Params.details $var2) }}
            <a href="{{ .Params.details }}">Details</a>

          {{ end }}
          {{ if not (eq .Params.howto $var2) }}
            <a href="{{ .Params.howto }}">How</a>

          {{ end }}
          {{ if not (eq .Params.doc $var2) }}
            <a href="{{ .Params.doc }}">Documentation</a>

          {{ end }}
          {{ if not (eq .Params.fdroid $var2) }}
            <a href="{{ .Params.fdroid }}">fdroid</a>

          {{ end }}
          {{ if not (eq .Params.playstore $var2) }}
            <a href="{{ .Params.playstore }}">PlayStore</a>

          {{ end }}
          {{ if not (eq .Params.download $var2) }}
            <a href="{{ .Params.download }}">Download</a>

          {{ end }}
        </div>

      </section><!-- project-item -->


      {{ end }}
      </section> <!-- projects -->


      {{ end}}
      </div> <!-- all-projects -->
</div>

{{ $opts := dict "inlineImports" true }}
{{ with resources.Get "css/projects.css" | postCSS $opts }}
<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}


{{ end }}