{{ define "main" }}
<article class="articles">
  <h1>{{i18n "menu-articles"}}</h1>
  {{ .Content }}
<!--
  <form class="flex items-center my-5 e">
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full">
      <input type="text" id="searchbar" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg block w-full ps-10 p-2.5 hover:border-cyan-500 focus:outline-none" placeholder="Search.." onkeyup="search_article()">
    </div>
  </form> -->

  <ul class="article-list">
    {{ range .Pages }}
      <li class="article-item">
        <a href="{{ .Permalink }}">
          <div class="article-title">{{ .Title }}</div>
        </a>
        <div class="article-author">{{ .Params.author }}</div>

      </li>
    {{ end }}
  </ul>

  {{ $opts := dict "inlineImports" true }}
  {{ with resources.Get "css/article.css" | postCSS $opts }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}

  </article>


{{ end }}
