{{ define "main" }}
  <article class="article">
    <h1>{{ .Title }}</h1>
    <h3>{{ .Params.author}}</h3>
    <hr>
    <div class="markdown-body  ">
      {{ .Content }}
    </div>
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
