
{{ define "main" }}
<meta name="description" content="Research page of SMC">
<article class="page-research">
  <h1>{{i18n "menu-research"}}</h1>
  {{ $sections := slice "Published Papers" "Malayalam Computational Linguistics" }}
  {{ range $sections }}
  <h1><br>{{ . }} <br> </h1>
  {{ $section := . }}

  <section class="research-items">
    {{ range where $.Site.Pages "Params.val" . }}
    {{ $var2 := "none" }}
    <section class="research-item card">

        <h2 class="title">{{ .Title }}</h2>
        <p class="author">{{ .Params.author }}</p>
        <section class="content">
          {{.Content}}
        </section>
        <div class="links">
              {{ if not (eq .Params.link $var2) }}
                <a href="{{ .Params.link }}" class="button-active">Read the Paper</a>

              {{ end }}

              {{ if not (eq .Params.code $var2) }}
                <a href="{{ .Params.code }}" class="button-active">CODE</a>

              {{ end }}
              {{ if not (eq .Params.mlphon $var2) }}
                <a href="{{ .Params.mlphon }}" class=" button-active">MLPHON</a>

              {{ end }}
              {{ if not (eq .Params.blog $var2) }}
                <a href="{{ .Params.blog }}" class="button-active">Read the Blog</a>

              {{ end }}
              {{ if not (eq .Params.read $var2) }}
              <div>
                <a href="{{ .Params.read }}" class="button-active">Read</a>
              </div>
            {{ end }}
            {{ if not (eq .Params.analyse $var2) }}
            <div>
              <a href="{{ .Params.analyse }}" class="button-active">Malayalam Phonetic Analyser</a>
            </div>
          {{ end }}
          </div>
        </section>
        {{ end }}
        </section>
        {{ end}}
        {{ $opts := dict "inlineImports" true }}
        {{ with resources.Get "css/research.css" | postCSS $opts }}
        <link rel="stylesheet" href="{{ .RelPermalink }}">
        {{ end }}

  </article>
{{ end }}
